<!-- TradingView Chart BEGIN -->
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
var tradingview_embed_options = {{}};
tradingview_embed_options.width = '640';
tradingview_embed_options.height = '400';
tradingview_embed_options.chart = '{chart_url}';
new TradingView.chart(tradingview_embed_options);
</script>
<br/>
<div id="description">
{description}
    </div>